# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
webapp/.pnp
webapp/pnp.js
webapp/.yarn/install-state.gz
robot-tests/venv
robot-tests/__pycache__

# testing
webapp/coverage
robot-tests/results
robot-tests/screenshots
robot-tests/log.html
robot-tests/output.xml
robot-tests/report.html
robot-tests/selenium-screenshot-*.png

# next.js
webapp/.next/
webapp/out/

# production
webapp/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
webapp/.env*.local
webapp/.env

# vercel
webapp/.vercel

# typescript
webapp/*.tsbuildinfo
webapp/next-env.d.ts

# IDE
.vscode/
.idea/
.cursor/

# Bun
webapp/bun.lockb
.cursorrules

# Supabase
webapp/supabase/.branches
webapp/supabase/.temp
webapp/supabase/.env.keys